
.topbar{
  box-shadow: 0px 1px #e6e7eb;
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
}
.logo{
  float:left;
  background-color: none;
  color:#ee0290;
  height:40px;
  font-family: "Oswald";
  padding-left: 10px;
  top: 5px;
  vertical-align: center;
  margin-left: 20px;
  width:25%;
}



a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.article-box a{
  color: #34a4b2;
}

.article-box a:hover{
  color: black;
}

body,html{
  margin:0;
  padding:0;
}

.switchfeeds{
  padding-top: 40px;
  padding-bottom: 0px;
  display:block;
  margin: 0 auto;
  text-align: center;
  width:500px;
  font-family: "Merriweather";
  font-size:15px;
}

.bn{
  float: left;
  border-bottom: 4px solid #ee0290;
}

.bn:hover, .bn.active{
  border-bottom: 4px solid #ee0290;
}

.myfeed{
  float:right;
}

.myfeed:hover{
  border-bottom: 4px solid #ee0290;

}

.myfeed.active{
  border-bottom: 4px solid #ee0290;
}

.breakingnews{
  display: inline-block;
  width: 76%;
  float: left;
  margin-top: 45px;
}

.article-box{
  margin-right: 30px;
  padding-top: 30px;
  margin-left: 30px;
  background-color: white;
  padding-bottom: 10px;
}

.a-img a, .article a{
  font-size: 24px;
}

.a-img a:hover, .article a:hover{
  font-size: 24px;
  color:black;
}

.a-img{
  width: 92%;
  display:inline-block;
  word-wrap: break-word;
  margin:10px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left: 12px;
  border-bottom: 1px solid #e6e7eb;
}
.a-img p{
  width: 60%;
  display: inline-block;
  margin-top: 5px;
  float:left;
}
.a-img a{
  color: #34a4b2;
  font-weight: 100;
  font-family: "Oswald";
  display: inline-block;
  width:100%
}
.a-img img{
  width:30%;
  margin: 15px;
  text-shadow: 1px 1px black;
  float:right;
}

.article{
  width: 92%;
  display:inline-block;
  word-wrap: break-word;
  margin:10px;
  margin-bottom: 6px;
  margin-top: 6px;
  padding-left:12px;
  border-bottom: 1px solid #e6e7eb;
}

.article a{
  color: #34a4b2;
  font-weight: 100;
  font-family: "Oswald";
  display: inline-block;
  width:100%
}

.article p{
  width: 68%;
  display: inline-block;
  margin-top: 5px;
}

.floatbox{
  border-top: 1px solid #34a4b2;
  display: inline-block;
}

.br-title{
  width:100px;
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  font-family: "Oswald";
  color:#34a4b2;
}

.summary{
  background-color: #34a4b2;
  color: black;
  font-weight: 300;
  width:25%;
  float:left;
  padding:5px;
  padding-right: 20px;
  vertical-align: top;
}

.summary img{
  width:30%;
}

ul{
  list-style-type: disc;
  padding-left:0;
  padding: 5px;
  font-size: 18px;
  color:white;
}

li{
  margin-bottom: 20px;
  margin-left: 20px;
}

.headlines{
  padding:5px;
  padding-left: 30px;
  float:right;
  margin:10px;
  width:65%;
}

.headlines img{
  width:30%;
  margin-top:5px;
}

.headlines p{
  margin-top: 10px;
}

.headlines a{
  color: black;
  font-size: 22px;
  font-weight: 100;
  font-family: "Oswald";
  display: inline-block;
  width:100%
}

.headlines a:hover{
  color: #34a4b2;
  font-size: 22px;
  font-weight: 100;
  font-family: "Oswald";
  display: inline-block;
  width:100%
}

.tweet-block{
  display: inline-block;
  width:23%;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: 50px;
}

#YT-title{
  display:inline-block;
  width: 22%;
  height: 25px;
  float: right;
  margin-right: 15px;
  font-family: Arial;
  font-size: 20px;
}
.YTVid{
  display: inline-block;
  width: 23%;
  float: right;
  margin-right:5px;
  margin-bottom: 15px;
  padding-top:15px;
  border-top: 1px solid #e6e7eb;
}

.userdrop{
  overflow: hidden;
  background-color: none;
  color:#ee3366;
  height:40px;
  font-family: "Oswald";
  font-size:20px;
  padding: 20px;
  vertical-align: right;
  margin-right: 10px;
  float:right;
}

.userdrop a{
  float: right;
  text-decoration: none;
  color: #ee3366;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #ee3366;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
