
.topbar{
  box-shadow: 0px 1px #e6e7eb;
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
}
.logo{
  float:left;
  background-color: none;
  color:#ee0290;
  height:40px;
  font-family: "Oswald";
  padding-left: 10px;
  top: 5px;
  vertical-align: center;
  margin-left: 20px;
  width:25%;
}

.username{
  background-color: none;
  color:#ee0290;
  height:40px;
  font-family: "Oswald";
  font-size:18px;
  padding: 20px;
  vertical-align: right;
  margin-right: 10px;
  float:right;
}

a{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

body,html{
  margin:0;
  padding:0;
}

.switchfeeds{
  padding-top: 40px;
  padding-bottom: 0px;
  display:block;
  margin: 0 auto;
  text-align: center;
  width:500px;
  font-family: "Merriweather";
  font-size:15px;
}

.bn{
  float: left;
  border-bottom: 4px solid #ee0290;
}

.bn:hover, .bn.active{
  border-bottom: 4px solid #ee0290;
}

.myfeed{
  float:right;
}

.myfeed:hover{
  border-bottom: 4px solid #ee0290;

}

.myfeed.active{
  border-bottom: 4px solid #ee0290;
}

.breakingnews{
  display: inline-block;
  width: 76%;
  float: left;
  margin-top: 45px;
}

.article{
  margin-right: 30px;
  padding-top: 30px;
  margin-left: 30px;
  background-color: white;
  padding-bottom: 10px;
}

.floatbox{
  border-top: 1px solid #34a4b2;
  display: inline-block;
}

.br-title{
  width:100px;
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  font-family: "Oswald";
  color:#34a4b2;
}

.summary{
  background-color: #34a4b2;
  color: black;
  font-weight: 300;
  width:20%;
  float:left;
  padding:5px;
  padding-right: 20px;
  vertical-align: top;
}

.summary img{
  width:30%;
  height:10%
}

ul{
  list-style-type: disc;
  padding-left:0;
  padding: 5px;
  font-size: 18px;
  color:white;
}

li{
  margin-bottom: 20px;
  margin-left: 20px;
}

.headlines{
  padding:5px;
  padding-left: 30px;
  float:right;
  margin:10px;
  width:70%;
}

.headlines img{
  width:30%;
  height:15%;
  margin-top:5px;
}

.headlines p{
  margin-top: 10px;
}

.headlines a{
  color: black;
  font-size: 20px;
  font-weight: 100;
  font-family: "Oswald";
  display: inline-block;
  width:100%
}


.tweet-block{
  display: inline-block;
  width:23%;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: 50px;
}

#YT-title{
  display:inline-block;
  width: 22%;
  height: 25px;
  float: right;
  margin-right: 15px;
  font-family: Arial;
  font-size: 20px;
}
.YTVid{
  display: inline-block;
  width: 23%;
  float: right;
  margin-right:5px;
  margin-bottom: 15px;
  padding-top:15px;
  border-top: 1px solid #e6e7eb;
}
