header{
  background: black;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.topbar{
  background-color:white;
}
.logo{
  background-color: white;
  color:#ee0290;
  height:40px;
  font-family: "Oswald";
  font-size:18px;
  padding: 10px;
  vertical-align: center;
  margin-left: 20px;
}

a{
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

body,html{
  margin:0;
  padding:0;
}
